/*.containerPopup .datepicker table {
    position: relative;
    top: -600px;
    left: 40%;
    background-color: white;
    border: solid 2px #5377A9;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}*/

.calendar {
    min-width: 90px;
 
    margin-left: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
    border: 1px solid #AEAEAE;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    position: relative;
}

.time {
    min-width: 40px;

    margin-left: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
    border: 1px solid #AEAEAE;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    position: relative;
}


.containerPopup {
    background-color: #EEF1F7;
    border: solid 3px #5377A9;
    width: 90%;
    height: 80%;
    position: fixed;
    top: 10%;
    right: 5%;
}

