<?xml version="1.0" encoding="utf-8"?>
<!--
  Per altre informazioni su come configurare l'applicazione ASP.NET, vedere
 https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.6.1"/>
    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization"/>
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt"/>
      </controls>
    </pages>
  </system.web>
  <connectionStrings>
    <add name="constr" connectionString="Data Source=localhost;port=3306;Initial Catalog=dbvidsystest;User Id=root;password=17062001"/>
    <add name="constrMSSQL" connectionString="Provider=SQLOLEDB;Data Source=NOTE-CLAUDIO\SQLEXPRESS;Initial Catalog=dbvidsystest;User ID=sa; Password=17062001"/>
    <!--<add name="constrMSSQL_NIC" connectionString="Provider=SQLOLEDB;Data Source=NOTE-CLAUDIO\SQLEXPRESS;Initial Catalog=dbvidsystest;User ID=sa; Password=17062001"/>-->
    <add name="constrMSSQL_NIC" connectionString="Provider=SQLOLEDB;Data Source=ITEM-86354\SQLEXPRESS;Initial Catalog=dbvidsystest;User ID=sa; Password=ASDFGHJ$%789"/>
    <add name="constrMSSQL_NICNEW" connectionString="Provider=SQLOL EDB;Data Source=ITEM-86354\SQLEXPRESS;Initial Catalog=dbvidsystest;Integrated Security=True;" />
  </connectionStrings>
  <appSettings>
    <add key="USA_DB" value="true"/>
    <add key="PATH_IMMAGINI_COLLABORATORI" value="~/Images/COLLABORATORI/"/>
    <add key="IMMAGINE_DUMMY_COLLABORATORE" value="dummy.jpg"/>
    <add key="QUERY_SEARCH_COLLABORATORI" value="
          select coll.id,Cognome,Nome,codicefiscale as CF,Nazione,comunenascita as [Comune Nascita],provinciaNascita as Prov,convert(varchar,datanascita,103) as [Data Nascita],comuneriferimento as [Comune Rif], nomeSocieta as Societa, partitaiva as [P.Iva],convert(bit,assunto) as Assunto 
          from anag_collaboratori coll
          left join anag_qualifiche_collaboratori qual
          on coll.id = qual.id_collaboratore
          where coll.attivo = 1 --and qual.attivo=1
          and isnull(cognome,'') like '%@cognome%'
          and isnull(nome,'') like '%@nome%'
          and isnull(codiceFiscale,'') like '%@codiceFiscale%'
          and isnull(comuneRiferimento,'') like '%@comuneRiferimento%'
          and isnull(partitaIva,'') like '%@partitaIva%'
          and isnull(nomeSocieta,'') like '%@nomeSocieta%'
          and isnull(qualifica,'') like '%@qualifica%'
          group by coll.id,Cognome,Nome,codicefiscale,Nazione,comunenascita,provinciaNascita,convert(varchar,datanascita,103),comuneriferimento, nomesocieta, partitaiva,convert(bit,assunto)
          order by Cognome,Nome"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="ADB9793829DDAE60" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-1.1.1.0" newVersion="1.1.1.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="ADB9793829DDAE60" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-1.1.2.0" newVersion="1.1.2.0"/>
			</dependentAssembly> 
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f"/>
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.1" newVersion="4.0.2.1"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930"/>
      </dependentAssembly>      
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <modules>
      <remove name="TelemetryCorrelationHttpModule"/>
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" preCondition="integratedMode,managedHandler"/>
    </modules>
  </system.webServer>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
</configuration>
